<style>
  .btnsearch{
    background-color: #fe424d;
    color: white;
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
    border: 2px solid black;
  }
  .btnsearch i{
    display: inline;
    margin-right: 0.25rem;
  }
  .btnsearch:hover{
    background-color: #fe424d;
    color: white;
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
    border: 2px solid black;
  }
  .search-input{
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
    border-radius: 16rem;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link" href="/listings">Explore</a>
        </div>
        <div class="navbar-nav searchbox ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-input" type="search" placeholder="Search Destinations" aria-label="Search">
            <button class="btn btn-outline-success btnsearch" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
      
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your Home</a>
          <% if(!curruser) {%>
          <a class="nav-link" aria-current="page" href="/users/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/users/login"><b>Login</b></a>
          <%}%>
          <%if(curruser){%>
          <a class="nav-link" href="/users/logout"><b>Logout</b></a>
          <%}%>
      </div>
    </div>
    </div>
  </nav>